<% provide(:title, 'About Us') %>

<div class = "row">
  <div class = "col-lg-12">
    <section class = "panel ">
      <header class="panel-heading"> About Us </header>
      <div class = "panel-body">
        <p>Through this portal, people can create an account, get access and experiment in NITOS FI Facility, which stands for Network Implementation Testbed using Open Source platforms Future Internet Facility.</p>

        
        <p>The main components of NITOS FI facility are:</p>

        <div class = "about-list">
          <ul>

            <li>Two Wi-Fi experimentation testbeds, which consist of powerful nodes (some of them mobile), that also feature multiple wireless interfaces and allow for experimentation with heterogeneous (Wi-Fi, Bluetooth, ZigBee) wireless technologies.</li>

            

            <%= image_tag("IMG_5222_after.jpg", :alt => "photo outdoor", :height => "225", :width => "255") %>

            <%= image_tag("SAM_0626.JPG", :alt => "photo outdoor", :height => "225", :width => "255") %>

            
            <p>photo outdoor        kai photo indoor   (einai attached)
              </p>

            <li>A 4G testbed which consists of WiMAX and LTE Base Stations and the necessary equipment for enabling WiMAX/LTE connectivity to the wireless nodes.</li>

            <li>A software defined radio (SDR) testbed that consists of Universal Software Radio Peripheral (USRP) devices attached to the NITOS wireless nodes.</li>

            <li>A Software Defined Networking (SDN) testbed that consists of multiple OpenFlow technology enabled switches, connected to NITOS nodes, thus enabling experimentation with switching and routing networking protocols.</li>

          </ul>
        </div>

           

      
       A researcher can <a href="http://nitlab.inf.uth.gr/doc/">read about how to use the resources of NITOS</a> and can schedule a reservation in the testbed.

      * sto "read about how to use the resources of NITOS" vale link sto documentation
      6- Account
        

      </div>
    </section>
  </div>
</div>
