<div class = "row " id = "contact-us">
  <div class = "col-sm-offset-2 col-sm-9 col-md-offset-3 col-md-7 col-lg-5" id="contact-column">
    <div class = "contact-header">
      <dl class ="dl-horizontal">
        <dt><img src="/images/Mail3.png"></dt>
        <dd><h1>Contact Us</h1></dd>
      <dl>
      
      
    </div>

    <div class ="contact-details">
      <div class = "contact-info">
        <dl class ="dl-horizontal">
          <dt>Adddress:</dt>
          <dd>Filikis Etairias 78 Volos 38334 Greece </dd>
          <dt>email:</dt>
          <dd>nitlab@inf.uth.gr</dd>
          <dt>Phone:</dt>
          <dd>  +30 2421 306070 </dd>
          <dt>Fax:</dt>
          <dd>  +30 2421 306065 </dd>
        </dl>
      </div>
      <h2 id="nitlab-link">For more information visit our site <a target="_blank" href="http://nitlab.inf.uth.gr"> http://nitlab.inf.uth.gr</a></h2>
    </div>
  </div>

</div>