<h1>NITOS Portal</h1>
<p>Welcome to NITOS experimental portal. Portal is under construction...</p>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>        
      </div>
    </div>
  </div>
</div>

<div class = "row">

  <div class = "row">
    <div class = "col-sm-4 col-md-6 tiles" id = "registration">

    </div>

    <div class = "col-sm-4 col-md-6 tiles " id = "login">

    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-4 col-md-6 tiles" id = "tutorial">

    </div>

    <div class = "col-sm-4 col-md-6 tiles" id = "contact">

    </div>
  </div>

</div>
