
</br>
</br>
</br>
</br>
</br>
</br>
<div class="row">
  <div class="col-sm-6 col-md-offset-3 col-md-3 ">

    <div class="thumbnail" id = "create_account_thumbnail">
      <img src="/images/User.png">
      <div class="caption">
        <h3>Create an account</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail" id = "lg_in_out_thumbnail">
      <img src="/images/Lock.png">
      <div class="caption">
        <h3>Log in</h3>
                
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-offset-3 col-md-3">
    <div class="thumbnail" id="tutorial_thumbnail">
      <img src="/images/Document.png">
      <div class="caption">
        <h3>Tutorial</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail" id = "contact_thumbnail">
      <img src="/images/Mail3.png">
      <div class="caption">
        <h3>Contact</h3>        
      </div>
    </div>
  </div>
</div>

<!-- <div class = "row">

  <div class = "row">
    <div class = "col-sm-4 col-md-6 tiles" id = "registration">
      <img src="/images/create_account.png" alt="...">
    </div>

    <div class = "col-sm-4 col-md-6 tiles " id = "login">
      <img src="/images/logout.png" alt="...">
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-4 col-md-6 tiles" id = "tutorial">
      <img src="/images/contact.png" alt="...">
    </div>

    <div class = "col-sm-4 col-md-6 tiles" id = "contact">
      <img src="/images/tutorial.png" alt="...">
    </div>
  </div>

</div> -->
