<div class = "row" id ="testbed-tools">
  <div class = "col-md-offset-1 col-md-10">

    <h1>Software Specifications</h1>

    <h2>NITOS testbed is based on a set of software tools for its operation.</h2>

    <div class = "row" id ="scheduler-tool-row">
      <img src="/images/scheduler.jpg" id="scheduler-photo">

      <p id = "scheduler-tool">

      In order to book nodes and channels for a specific time period, someone has to use the <a href="/reservation">NITOS Scheduler</a> web-application, specifically designed to facilitate the reservation procedure.


      </p>

    </div>

    <div class = "row" id ="connectivity-tool-row">
      <p id = "connectivity-tool">
      Being aware of the fact that an experimenter needs connectivity and link quality data before he/she selects the desired nodes for an experiment, we created the Connectivity tool. By means of this tool, the user has access to up-to-date information regarding the quality of each direct wireless link in our testbed.</br>

      </br>
      For setting up and controlling an experiment, as well as for retrieving measurements, we highly recommend the use of the OMF software framework (cOntrol and Management Framework). Though one is free to use custom scripts in association with standard widely-used network tools (e.g. iperf), OMF offers a complete network experiment control solution and ultimately ease of use. Therefore it is worth devoting a small amount of time on learning how to use OMF. You can start by reading the <a href="http://nitlab.inf.uth.gr/NITlab/index.php/testbed/instructions/basic-tutorial">tutorial</a> article in our Instructions Section and then check the <a href="http://mytestbed.net">official OMF website
      </p>

      

      <img src="/images/nitos_topo.jpg" id="nitos-topo" width="600px">

      <p id ="omf">
      </a>

      </p>
      
    </div>

    <div class = "row" id ="info-tool-row">
      

      <p>
        You can find more information about the software tools in the Instructions Section. Before using the testbed make sure that you are informed about how to use it!
      </p>
      <p>
        All the software created by NITlab can be found in the <a href="https://github.com/NitLab">repository</a>.
      </p>
    </div>
  </div>
</div>