<p>Gia na doume</p>

<%= link_to 'Message', :url=>{:controller=>"scheduler", :action=>"gmtoffset"}, :with=> "'msg'=+msg" %>
<div id ='show_message'></div>



<script type= "text/javascript">
  var msg = "Hello World" ;
</script>