@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px; 
  background: none repeat scroll 0 0 #f1f2f7;
  color: #797979;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  margin: 0 !important;
}

#site-row{
  margin-right: 0px;

}
.container-fluid{
  padding: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#wrapper-main{
  margin-top: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header{
  background: #30508;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  background: none repeat scroll 0 0 #5b6e84;
  color: #fff;
  padding: 10px 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;

}

/* mixins, variables, etc. */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms */


#error_explanation {
  color: #f00;
}
 #error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0;
}

.form-signin {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;   
    padding: 0px;
    max-width: 330px;
}

.form-signin h2.form-signin-heading {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    text-transform: uppercase;
}

.form-signin p {
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: none;
    font-size: 12px;
    margin-bottom: 15px;
}

.form-signin .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.login-wrap {
    padding: 20px;
}

.form-signin .btn-login {
    background: none repeat scroll 0 0 #f67a6e;
    box-shadow: 0 4px #e56b60;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-signin a {
    color: #41cac0;
}
a, a:hover, a:focus {
    outline: medium none;
    text-decoration: none;
}

/*node status*/

.nodes{
  width: auto;
  padding: 10px;
  float:left;
  
  margin: 2px;
  text-align: center;
  color: #fff;
}

.disabled_nodes{
  width: auto;
  padding: 10px;
  float:left;
  
  margin: 2px;
  text-align: center;
  color: #fff;
  background: #bec3c7;
}

.on-off-status{
  width: 100px;  
}

.reset-status{
  margin-top: 2px;   
}

.node-off{
  width: 50px;  
  float: right;  
}

.btn .btn-primary .node-on{
  width: 50px;  
  float: right;  
}

.button{
  color: blue;
}


/*sidebar*/



/*Unboun Requests*/

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 500;
}

.stepy-tab {
    text-align: center;
}

.stepy-tab ul {
    display: inline-block;
}

.stepy-tab ul li {
    float: left;
    list-style: none outside none;
}

.stepy-titles li {
    color: #757575;
    cursor: pointer;
    float: left;
    margin: 10px 15px;
}

.stepy-titles li.current-step div {
    background: none repeat scroll 0 0 #a9d86e;
    border-radius: 50%;
    color: #fff;
    cursor: auto;
    height: 100px;
    line-height: 100px;
    width: 100px;
}

.stepy-titles li div {
    background: none repeat scroll 0 0 #eee;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    height: 100px;
    line-height: 100px;
    width: 100px;
}

.stepy-titles li span {
    display: block;
}

.step {
  clear:  left;
}

.step legend {
    border: medium none;
}

.step label {
    display: block;
}

.form-horizontal .control-label{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
} 

.btn-submit{
    text-decoration: none;
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #ffffff;
    float: right;
}

.btn-submit:hover {
  background-color: #ff6c60;
  border-color: #ff6c60;
  text-decoration: none;
}

#slice-label{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
} 

.wrap-response{
  margin-top: 20px;
}

.required{
  color: #ff6c60;
}

/*My Reservations*/

#cancel-buuton{
  float: none;
}

.button_to .btn-cancel{
    text-decoration: none;
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #ffffff;
    float: right;
    margin-right: 22px;
}

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel.active {
  background-color: #ff6c60;
  border-color: #ff6c60;
  text-decoration: none;
}

/*Scheduler*/

td.td-checkbox{
  padding: 0px!important;
  line-height: 0.7!important;
}

td.td-checkbox:hover, td.td-checkbox:active{
  background-color: #428bca;
  /*background-color: #305086;*/
  
}
.regular-checkbox + label:hover { 
  background-color: #428bca;
  /*background-color: #305086;*/
}

.regular-checkbox:checked + label:hover { 
  background-color: #428bca;
  /*background-color: #305086;*/
}

label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: inherit;
  /*border: 1px solid #cacece;*/
  
  padding: 9px;
  padding-bottom: 34px;
  border-radius: 0px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  
}

.regular-checkbox:checked + label {
  background-color: inherit;
  /*border: 1px solid #adb8c0;*/
  
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 7px;
  left: 3px;
  color: #99a1a7;
}


.big-checkbox + label {
  padding: 18px;
}

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 14px;
}

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}



.button-holder {
  float: left;
}

#notes-lock{
    left: 0px!important;
    top: 0px!important;
}

#notes-check{
  font-size: 22px;
}

#notes-timezone{
  font-weight: bold;
}

.notes{
  border-top: 0px!important;
}

/*
.regular-checkbox + label { }

label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}


.big-checkbox + label {
  padding: 18px;
}

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}

.radio-1 {
  width: 193px;
}

.button-holder {
  float: left;
}

*/
span.glyphicon-lock {
    font-size: 1.2em;
    cursor: not-allowed;
    left: 11px;
    top: 4px;
}

/*News*/

.about-list ul li{
  margin: 5px;

}

/*Home*/

.tiles{
  width: 250px;
  height: 250px;
  background: #fff;
}

#registration{
  background: none repeat scroll 0 0 #6ccac9;
}
#login{
  background: none repeat scroll 0 0 #ff6c60;
}
#tutorial{
  background: none repeat scroll 0 0 #57c8f2;
}
#contact{
  background: none repeat scroll 0 0 #8075c4;
}

/*Profile*/
.profile-nav .user-heading {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 4px 4px 0 0;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 4px 4px;
}
.profile-nav ul > li > a {
    /*border-left: 5px solid #fff;*/
    border-radius: 0;
    color: #89817f;
}

a, a:hover, a:focus {
    outline: medium none;
    text-decoration: none;
}


a, a:hover, a:focus {
    outline: medium none;
    text-decoration: none;
}

.profile-nav .user-heading h1 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    font-size: 18px;
}

/*Sidebar*/
@media screen and (min-width: 768px) {
  #sidebar{
  background: none repeat scroll 0 0 #2a3542;
  height: 100%;
  position: fixed;
  width: 210px;
}

.list-group-submenu {
  margin-left:10px;
}

 
}

/*Header*/

.navbar-inverse .navbar-nav > li > a {
    color: #fff!important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #F18A1C !important;
}
.navbar-inverse {
  /*background-color: #2a3542!important;
    border-color: #2a3542!important;*/
    background-color: #305086!important;
    border-color: #305086!important;
}

/*Home Page*/

#create_account_thumbnail{
  background-color: #0097AA;
}

#lg_in_out_thumbnail{
  background-color: #305086;
}

#tutorial_thumbnail{
  background-color: #DA542E;
}

#contact_thumbnail{
  background-color: #0097AA;

}

.thumbnail{
  padding-top: 56px;
  padding-bottom: 25px;
}

.thumbnail h3{
  color:#fff;
  text-align: center;
}