@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px; 
  background: none repeat scroll 0 0 #f1f2f7;
  color: #797979;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  margin: 0 !important;
}

.container-fluid{
  padding: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  background: none repeat scroll 0 0 #5b6e84;
  color: #fff;
  padding: 10px 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;

}

/* mixins, variables, etc. */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms */


#error_explanation {
  color: #f00;
}
 #error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0;
}

.form-signin {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;   
    padding: 0px;
    max-width: 330px;
}

.form-signin h2.form-signin-heading {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    text-transform: uppercase;
}

.form-signin p {
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: none;
    font-size: 12px;
    margin-bottom: 15px;
}

.form-signin .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.login-wrap {
    padding: 20px;
}

.form-signin .btn-login {
    background: none repeat scroll 0 0 #f67a6e;
    box-shadow: 0 4px #e56b60;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-signin a {
    color: #41cac0;
}
a, a:hover, a:focus {
    outline: medium none;
    text-decoration: none;
}

/*node status*/

.nodes{
  width: auto;
  padding: 10px;
  float:right;
  border-style: solid; 
  margin: 2px;
}

.button_to{
  width: 50px;  
  float: right;  
}

.button{
  color: blue;
}


/*sidebar*/

#sidebar{
  background: none repeat scroll 0 0 #2a3542;
  height: 100%;
  position: fixed;
  width: 210px;

}
