<footer class="footer">
  <small>
    <p>Nitos Experimental Portal by Nitlab team </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>