
  <div id = "sidebar" class = "nav-collapse" style = "overflow: hidden;">
    <div class="list-group panel">
      <a  href="/" class="list-group-item active">
        <i class = "glyphicon glyphicon-home" > </i>
        <span>Dashboard</span>
      </a>
      <a href="#sub-scheduler" class="list-group-item" data-toggle="collapse" data-parent="#sidebar">
        <i class = "glyphicon glyphicon-calendar" > </i>       
        <span>Sceduler</span>
        <i class="caret"></i>
      </a>

      <div class="collapse" id="sub-scheduler">
        <a href="/scheduler" class="list-group-item">Make Reservations</a>
        <a href="/unbound_requests" class="list-group-item">Unbound Requests</a>
      </div>

      <a href="#demo4" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#sidebar">Static Pages</a>
      <div class="collapse" id="demo4">
        <a href="" class="list-group-item">Home</a>
        <a href="" class="list-group-item">
          <i class = "glyphicon glyphicon-envelope" > </i>
          <span>Contact</span></a>
        <a href="" class="list-group-item">
          <i class = "glyphicon glyphicon-pencil" > </i>
          <span>About</span>
        </a>
      </div>
      <a href="/node_status" class="list-group-item">
        <i class = "glyphicon glyphicon-inbox" > </i>
        <span>Node Status</span>
      </a>
      <a href="" class="list-group-item">
        <i class = "glyphicon glyphicon-envelope" > </i>
        <span>Contact</span>
      </a>
      <a href="/about" class="list-group-item">
        <i class = "glyphicon glyphicon-pencil" > </i>
        <span>About</span>
      </a>
   </div> 
  </div>  

